<?xml version="1.0"?>
<launch>
    <!-- global_pose_transformer 노드 -->
    <node pkg="inha_asl" type="global_pose_transformer" name="global_pose_transformer" output="screen">
    <!-- <param name="init_x" value="11.77" /> -->
    <!-- <param name="init_y" value="2.05" /> -->
    <!-- <param name="init_z" value="0.0" /> -->
        <param name="init_x" value="11.77" />
        <param name="init_y" value="2.05" />
        <param name="init_z" value="0.0" />
        <param name="init_qx" value="0.0" />
        <param name="init_qy" value="0.0" />
        <param name="init_qz" value="0.0" />
        <param name="init_qw" value="1.0" />
        <param name="use_inverse" value="true"/>
        <param name="roll_sign"   value="1"/>  <!-- -90° -->
        <!-- <param name="init_qz" value="-0.7071" />
        <param name="init_qw" value="0.7071" /> -->

        
    </node>

    <!-- global_pose_tf_broadcaster 노드 -->
    <node pkg="inha_asl" type="global_pose_tf_broadcaster" name="global_pose_tf_broadcaster" output="screen"/>
</launch>
